# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

venv/
.venv/
_pycache__/
*._pycache__
.env

data/
datasets/
models/
checkpoints/
weights/
outputs/
processed_images/
processed/




build/
dist/
*.egg-info/

*.pt
*.pth
*.h5
*.keras
*.checkpoints
*.onnx
*.joblib
*.pkl